/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*------------------------- 디자인 키트 라이선스 안내 -------------------------*/
/*----------------------------www.designkits.co.kr-----------------------------*/
/*-----------------------------------------------------------------------------*/
/*---- co1070 코드 본 디자인은 코드 상업, 교육, 포트폴리오 모든 사용 가능 -----*/
/*--------- ※ 단, 이미지, 아이콘 요소는 저작권이 있으므로 사용 불가 ----------*/
/*----- 디자인키트 사이트에서 400개 이상 무료 시안을 이용할 수 있습니다. ------*/
/*------------ 재배포 가능하며, 재배포시 라이선스 삭제 금지합니다. ------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
@charset "utf-8";
@import url("./font-awesome/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); 

/* ========================== 초기화 [s] */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body{line-height:1;font-family:'Noto Sans KR'}
ol, ul, dl, dt, dd{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input, button{margin:0;padding:0;font-family:'Noto Sans KR'}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea, select{font-family:'Noto Sans KR'}
select{margin:0}
a{color:#222;text-decoration:none}
label, input, button, select, img{vertical-align:middle}
body{font-size:0.81em}
*, :after, :before{box-sizing:border-box}
*{-webkit-text-size-adjust:none}
.sound_only{display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* ========================== 초기화 [e] */

#sh_wrapper, #sh_wrapper , #sh_wrapper :before, #sh_wrapper {box-sizing:border-box}
#sh_wrapper{position:relative;width:100%;min-width:1200px;font-weight:400;background-color:#fff;background:url(../img/main/bg_line.png)no-repeat center 825px}
#sh_wrapper.sub{background-color:#fff;background:none}

/* =========================== HEADER */
#sh_hd{position:relative;z-index:999;width:100%;min-width:1200px} 
#sh_hd_wrapper{position:absolute;width:100%;margin:0 auto;padding:0;zoom:1}
#sh_hd_wrapper:after{display:block;clear:both;content:"";width:100%;height:1px;background:rgba(255,255,255,.15)}
#sh_nav_wrap{position:fixed;top:0;width:100%;height:96px;padding:0 96px;border-bottom:1px solid rgba(255,255,255,0);background-color:#fff;transition:all .3s}
#sh_nav_wrap.fixed{border-bottom:1px solid #e1e1e1}
#sh_nav_wrap.fixed #topNav > li > a{color:#111}
#sh_nav_wrap.on{border-bottom:1px solid #e1e1e1}
#sh_nav_wrap.on #menuLine{background-color:#666}
/* 로고 */
#sh_top_logo{float:left;position:relative;top:-10%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%)}
/* 대분류  */
#sh_nav{position:absolute;top:0;left:50%;z-index:5001;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);min-width:693px;height:96px}
#sh_nav:after{display:block;content:"";visibility:hidden;clear:both}
#sh_nav > li{float:left;position:relative;padding:0 35px;line-height:96px}
#sh_nav > li > a{display:block;font-size:16px;color:#222;transition:all .2s;font-weight:500}
#menuLine{position:absolute;bottom:-1px;left:50%;width:0;height:1px;background-color:transparent;transition:all 0.5s ease-in-out}
.top_nav_bg{position:fixed;width:100%;display:none;top:96px;height:140px;background:#fff;-webkit-box-shadow:0px 12px 45px -17px rgba(0,0,0,0.12);box-shadow:0px 12px 45px -17px rgba(0,0,0,0.2)}
/* 소분류 */
.sh_nav_s{display:none;position:absolute;width:100%;min-height:140px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);padding-top:15px}
.sh_nav_s li a{display:block;margin:0px;font-size:13.5px;line-height:26px;text-align:center;color:#444;transition:color .2s;font-weight:400}
.sh_nav_s li a:hover{color:#000;font-weight:500}
/* 오픈메뉴 */
#pfBtn{float:right;position:relative;top:-10%;z-index:5003;padding:10px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);cursor:pointer}
#pfBtn.no_pointer{pointer-events:none;cursor:alias}
#pfWrap{display:none;position:fixed;top:0;right:-100%;z-index:5002;width:100%;height:100%}
.pf_cate{display:none;position:absolute;right:0;top:0;width:0;height:100%;background:rgb(118,76,162);
background:linear-gradient(360deg, rgba(118,76,162,1) 0%, rgba(102,126,234,1) 100%);border-top-left-radius:100px}
.pf_cate ul{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pf_cate ul li{margin:0 0 12px 100px;font-weight:200;text-align:center;opacity:0}
.pf_cate ul li > a{display:inline-block;position:relative;font-size:24px;line-height:1.6;color:#fff;letter-spacing:0;-webkit-transition:all .3s;transition:all .3s}
.pf_cate ul li:nth-child(1){animation-delay:.4s}
.pf_cate ul li:nth-child(2){animation-delay:.5s}
.pf_cate ul li:nth-child(3){animation-delay:.6s}
.pf_cate ul li:nth-child(4){animation-delay:.7s}
.pf_cate ul li:nth-child(5){animation-delay:.8s}
.pf_cate ul li a.off{color:#acb2b9}
.pf_cate ul li a .nav_num{position:absolute;left:0;top:5px;font-size:11px;font-weight:600;color:#fff;opacity:0;letter-spacing:1px;-webkit-transition:all .3s;transition:all .3s;font-family:'Poppins'}
.pf_cate ul li a:hover{padding-left:30px}
.pf_cate ul li a:hover .nav_num{opacity:1}
.pf_cate .ct_link{position:absolute;bottom:100px;left:50%;transform:translateX(-50%);font-size:40px;font-weight:800;line-height:1;color:transparent;-webkit-text-stroke:1px rgba(255,255,255,.2);-webkit-transition:all .3s;transition:all .3s;cursor:pointer;font-family:'Poppins'}
.pf_cate .ct_link:hover{color:#fff;border:none}
.pf_img{position:absolute;right:0;top:0;width:50%;height:100%}
#pfVisual{overflow:hidden;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:0;height:700px;background-color:#7d3951;opacity:0}
#pfSlide li{position:absolute;left:0;top:0;width:500px;height:700px}

/* =========================== SUB */
#sh_sub_banner{width:100%;height:400px;background:url(../img/sub/sub_main_banner.jpg)no-repeat;animation:main 25s linear infinite}
@keyframes main{from{background-position:top center}50%{background-position:bottom center}100%{background-position:top center}}

/* =========================== SNB */
#sh_aside{position:relative;width:1200px;margin:-25px auto 0;text-align:center;background-color:transparent}

/* =========================== MAIN */
#sh_section{position:relative;z-index:998;width:100%;min-width:1200px}

/* =========================== CONTAINER */
#sh_content{position:relative;z-index:200;width:1200px;min-height:580px;padding:0;margin:70px auto 40px;font-size:14px;color:#888;zoom:1}
#sh_content:after{display:block;visibility:hidden;clear:both;content:""}
#sh_content_tit{padding-top:205px;text-align:center;font-size:15px;color:#fff}
#sh_content_tit h3{display:inline-block;position:relative;z-index:100;margin-bottom:17px;font-size:34px;font-weight:400}
#sh_content_tit h3:after{display:block;position:absolute;z-index:99;width:41px;height:42px;content:'';top:-12px;right:-22px}
#sh_content_tit .fa-home{color:#fff}
#sh_content_tit .fa-angle-right{padding:0 5px;color:#b5b5b5}

/* =========================== FOOTER */
#sh_ft{position:relative;z-index:199;width:100%;min-width:1200px;margin:0 auto;padding-top:95px;text-align:center;font-size:14px;line-height:24px;color:#6d6d6d;background:#222;}
#sh_ft .info{margin-bottom:80px}
#sh_ft .info span{display:block;margin-bottom:26px;font-size:18px;line-height:26px;color:#fff;font-weight:500}
#sh_ft .copy{height:60px;font-size:14px;color:#555;line-height:50px;border-top:1px solid #404040;background:#222}
#sh_ft .copy .copy_wrap{position:relative;overflow:hidden;width:1200px;margin:0 auto;padding-top:8px;text-align:left}
#sh_ft .copy b{font-weight:500}
#sh_ft .copy span{color:#555}
#sh_ft .copy .icon{position:absolute;right:0;top:6px}
