/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/*------------------------- 디자인 키트 라이선스 안내 -------------------------*/
/*----------------------------www.designkits.co.kr-----------------------------*/
/*-----------------------------------------------------------------------------*/
/*---- co1070 코드 본 디자인은 코드 상업, 교육, 포트폴리오 모든 사용 가능 -----*/
/*--------- ※ 단, 이미지, 아이콘 요소는 저작권이 있으므로 사용 불가 ----------*/
/*----- 디자인키트 사이트에서 400개 이상 무료 시안을 이용할 수 있습니다. ------*/
/*------------ 재배포 가능하며, 재배포시 라이선스 삭제 금지합니다. ------------*/
/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
@charset "utf-8";

/* =========================== SNB */
#sh_snb {display:inline-block;position:relative;z-index:10;padding:0 40px;text-align:center;box-shadow:0px 2px 12px rgba(0,0,0,.1);background-color:#fff}
#sh_snb li {display:inline-block;position:relative;height:55px;padding:0 35px;font-size:17px;line-height:55px}
#sh_snb li:first-child:before {display:none}
#sh_snb li a {position:relative;font-weight:500}
#sh_snb li a.on{color:#6e62c3}

/* =========================== PAGE */
#greeting{font-size:15px;font-weight:400;line-height:1.8;letter-spacing:-.2px;color:#777;font-family:'Noto Sans KR'}
#greeting .tit_area{padding:0 0 40px 5%;font-size:38px;font-weight:100;line-height:1.35;letter-spacing:-.5px;color:#222}
#greeting .tit_area p{font-weight:600}
#greeting .img{height:420px;background:url(../img/sub/greeting_img.jpg) center no-repeat;background-size:cover}
#greeting .cont{padding:40px 0 0 25%}
#greeting .cont .pl{white-space:pre-line}
#greeting .cont .sign{margin-top:30px;font-weight:500;color:#222}
#greeting .cont .sign span{margin-left:20px;font-size:17px}